<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />

	<title>Portfolio</title>

	<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">

	<!-- Bootstrap Core CSS -->
	<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

	<!-- Custom Fonts -->
	<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
	<link href="/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" />
	<link href="/css/stylish-portfolio.css" rel="stylesheet" />
</head>

<body id="page-top">
	<!-- Navigation -->
	<a class="menu-toggle rounded" href="#">
		<i class="fas fa-bars"></i>
	</a>
	<nav id="sidebar-wrapper">
		<ul class="sidebar-nav">
			<li class="sidebar-brand">
				<a class="js-scroll-trigger" href="#page-top">Nehal Ahmad</a>
			</li>
			<li class="sidebar-nav-item">
				<a class="js-scroll-trigger" href="#page-top">Home</a>
			</li>
			<li class="sidebar-nav-item">
				<a class="js-scroll-trigger" href="#about">About</a>
			</li>
			<li class="sidebar-nav-item">
				<a class="js-scroll-trigger" href="#services">Services</a>
			</li>
			<li class="sidebar-nav-item">
				<a class="js-scroll-trigger" href="#portfolio">Portfolio</a>
			</li>
			<li class="sidebar-nav-item">
				<a class="js-scroll-trigger" href="#contact">Contact</a>
			</li>
		</ul>
	</nav>

	<!-- Header -->
	<header class="masthead d-flex">
		<div class="container text-center my-auto">
			<h1 class="mb-1">Portfolio</h1>
			<h3 class="mb-5">
				<em>Full Stack Web Developer</em>
			</h3>
			<a class="btn btn-primary btn-xl js-scroll-trigger" href="#portfolio">Projects</a>
		</div>
		<div class="overlay"></div>
	</header>

	<!-- About -->
	<section class="content-section bg-light" id="about">
		<div class="container text-center">
			<div class="row">
				<h2 class="mx-auto pd-x">
					FRONT END FOCUSED WITH FULL STACK EXPERIENCE
				</h2>
				<div class="col-sm-12 col-md-6 mx-auto">
					<p class="mb-5 mt-4">
						I am Nehal Ahmad, a full stack web developer. I describe myself as
						someone who's persistant, a quick learner and loves problem
						solving by using simple and scalable solutions. I love mobile
						friendly websites and enjoy working on larger applications.
					</p>
				</div>
				<div class="col-sm-12 col-md-6 mx-auto">
					<div class="row mt-3">
						<div class="col-sm-4 col-md-2 mx-auto logo-new">
							<img src="img/javascript.png" alt="JavaScript Logo" />
						</div>
						<div class="col-sm-4 col-md-2 mx-auto logo-new">
							<img src="img/nodejs.png" alt="Nodejs Logo" />
						</div>
						<div class="col-sm-4 col-md-2 mx-auto logo-new">
							<img src="img/react.png" alt="React Logo" />
						</div>
					</div>
				</div>
				<a class="btn btn-dark btn-xl js-scroll-trigger mx-auto mt-3" href="#services">Services</a>
			</div>
		</div>
	</section>

	<!-- Services -->
	<section class="content-section bg-primary text-white text-center" id="services">
		<div class="container">
			<div class="content-section-heading">
				<h3 class="text-secondary mb-0">Services</h3>
				<h2 class="mb-5">What I Do</h2>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-6 mb-3 mb-md-0">
					<span class="service-icon rounded-circle mx-auto mb-3">
						<i class="fa fa-desktop"></i>
					</span>
					<h4>
						<strong>FRONT END</strong>
					</h4>
					<p class="text-faded mb-0">
						Modern website using SASS | JQUERY | BOOTSTRAP | MATERIAL-UI |
						REACT | REDUX | NEXT
					</p>
				</div>
				<div class="col-lg-3 col-md-6 mb-3 mb-md-0">
					<span class="service-icon rounded-circle mx-auto mb-3">
						<i class="fa fa-server"></i>
					</span>
					<h4>
						<strong>SERVER</strong>
					</h4>
					<p class="text-faded mb-0">
						Covering the backend with NODE | EXPRESS | ASP.NET | GRAPHQL
					</p>
				</div>
				<div class="col-lg-3 col-md-6 mb-3 mb-md-0">
					<span class="service-icon rounded-circle mx-auto mb-3">
						<i class="fa fa-database"></i>
					</span>
					<h4>
						<strong>DATABASE</strong>
					</h4>
					<p class="text-faded mb-0">
						Database management with MYSQL | MONGODB | FIREBASE
					</p>
				</div>
				<div class="col-lg-3 col-md-6 mb-3 mb-md-0">
					<span class="service-icon rounded-circle mx-auto mb-3">
						<i class="fa fa-cloud"></i>
					</span>
					<h4>
						<strong>DEPLOYMENT</strong>
					</h4>
					<p class="text-faded mb-0">
						Services like AWS | GIT | NGINX | HEROKU | NETLIFY
					</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Callout -->
	<!-- <section class="callout">
    <div class="container text-center">
      <h2 class="mx-auto mb-5">Imagine
        <em>your</em>
        next website!</h2>
      <a class="btn btn-primary btn-xl" href="#contact">Contact Me</a>
    </div>
  </section> -->

	<!-- Portfolio -->
	<section class="content-section" id="portfolio">
		<div class="container">
			<div class="content-section-heading text-center">
				<h3 class="text-secondary mb-0">Portfolio</h3>
				<h2 class="mb-5">Recent Projects</h2>
			</div>
			<div class="row no-gutters">
				<div class="col-lg-6">
					<a class="portfolio-item" href="https://bugtracker123.herokuapp.com">
						<span class="caption">
							<span class="caption-content">
								<h2>Bug Tracker</h2>
								<p class="mb-0">
									A web application to keep track of bugs in a project.
								</p>
								<p>REACT | REDUX | NODE | MONGODB | REACTSTRAP | API</p>
								<button class="btn btn-secondary">LIVE</button>
								<button class="btn btn-secondary">Code</button>
							</span>
						</span>
						<img class="img-fluid" src="img/portfolio-7.jpg" alt="" />
					</a>
				</div>
				<div class="col-lg-6">
					<a class="portfolio-item" href="https://f-1.netlify.com">
						<span class="caption">
							<span class="caption-content">
								<h2>F1</h2>
								<p class="mb-0">Formula One news website.</p>
								<p class="mb-0">HTML | CSS | JAVASCRIPT</p>
								<br />
								<button class="btn btn-secondary">LIVE</button>
								<button class="btn btn-secondary">Code</button>
							</span>
						</span>
						<img class="img-fluid" src="img/portfolio-8.jpg" alt="" />
					</a>
				</div>
				<div class="col-lg-6">
					<a class="portfolio-item" href="https://ruthless-trap.netlify.com">
						<span class="caption">
							<span class="caption-content">
								<h2>Ruthless Trap</h2>
								<p class="mb-0">When Music is in the Air.</p>
								<p class="mb-0">HTML | CSS | JAVASCRIPT</p>
								<br />
								<button class="btn btn-secondary">LIVE</button>
								<button class="btn btn-secondary">Code</button>
							</span>
						</span>
						<img class="img-fluid" src="img/portfolio-9.jpg" alt="" />
					</a>
				</div>
				<div class="col-lg-6">
					<a class="portfolio-item" href="https://timeline-adventure.netlify.com/">
						<span class="caption">
							<span class="caption-content">
								<h2>JavaScript Timeline</h2>
								<p class="mb-0">Timeline for my wifey.</p>
								<p class="mb-0">HTML | CSS | JAVASCRIPT | JQUERY</p>
								<br />
								<button class="btn btn-secondary">LIVE</button>
								<button class="btn btn-secondary">Code</button>
							</span>
						</span>
						<img class="img-fluid" src="img/portfolio-11.jpg" alt="" />
					</a>
				</div>
				<div class="col-lg-6">
					<a class="portfolio-item" href="https://github.com/nehal119/blog-app">
						<span class="caption">
							<span class="caption-content">
								<h2>Node Blogger</h2>
								<p class="mb-0">A simple application to share moments.</p>
								<p class="mb-0">
									HTML| CSS | NODE | EXPRESS | SEMANTIC-UI | MONGODB
								</p>
								<br />
								<button class="btn btn-secondary">LIVE</button>
								<button class="btn btn-secondary">Code</button>
							</span>
						</span>
						<img class="img-fluid" src="img/portfolio-12.jpg" alt="" />
					</a>
				</div>
				<div class="col-lg-6">
					<a class="portfolio-item" href="https://portfolio-nehal-ahmad.herokuapp.com/">
						<span class="caption">
							<span class="caption-content">
								<h2>Portfolio</h2>
								<p class="mb-0">Full Stack Web Developer.</p>
								<p class="mb-0">
									HTML | CSS | SASS | JAVASCRIPT | JQUERY | NODE | EXPRESS
								</p>
								<br />
								<button class="btn btn-secondary">LIVE</button>
								<button class="btn btn-secondary">Code</button>
							</span>
						</span>
						<img class="img-fluid" src="img/portfolio-13.jpg" alt="" />
					</a>
				</div>
			</div>
		</div>
	</section>
	<!-- Contact Me -->
	<section id="contact">
		<div class="row">
			<div class="col-sm-6 offset-sm-3 text-center">
				<h1 class="h1-responsive text-center my-4">Contact Me</h1>
				<p class="text-center mx-auto mb-5">
					Have any questions? Don't hesitate to ask
				</p>
				<div class="info-form pd-x">
					<form class="form-inlin justify-content-center" id="contact-form">
						<div class="form-group mb-4">
							<input type="text" id="subject" name="subject" class="form-control"
								placeholder="Your Name" />
						</div>
						<div class="form-group mb-4">
							<input type="email" id="email" name="email" class="form-control"
								placeholder="your.name@example.com" />
						</div>
						<div class="form-group mb-4">
							<textarea id="text" name="text" rows="2" class="form-control md-textarea"
								placeholder="I would like to know that..."></textarea>
						</div>
						<input type="submit" value="Submit" class="btn btn-primary btn-xl" />
					</form>
				</div>
				<br />
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer class="footer text-center">
		<div class="container">
			<ul class="list-inline mb-5">
				<li class="list-inline-item">
					<a class="social-link rounded-circle text-white mr-3" href="https://github.com/nehal119">
						<i class="icon-social-github"></i>
					</a>
				</li>
				<li class="list-inline-item">
					<a class="social-link rounded-circle text-white mr-3" href="https://twitter.com/NehalAh23870525">
						<i class="icon-social-twitter"></i>
					</a>
				</li>
				<li class="list-inline-item">
					<a class="social-link rounded-circle text-white mr-3"
						href="https://www.linkedin.com/in/nehal-ahmad-76bb39158/">
						<i class="icon-social-linkedin"></i>
					</a>
				</li>
			</ul>
			<p class="text-muted small mb-0">Copyright &copy; Nehal Ahmad 2020</p>
		</div>
	</footer>

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>

	<!-- Bootstrap core JavaScript -->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Plugin JavaScript -->
	<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for this template -->
	<script src="/js/stylish-portfolio.min.js"></script>

	<script>
		$('form').on('submit', (e) => {
			e.preventDefault();

			const email = $('#email')
				.val()
				.trim();
			const subject = $('#subject')
				.val()
				.trim();
			const text = $('#text')
				.val()
				.trim();

			const data = {
				email,
				subject,
				text
			};

			$.post('/email', data)
				.then(() => {
					window.location.href = '/email/sent';
				})
				.catch(() => {
					window.location.href = '/error';
				});
		});
	</script>
</body>

</html>